* {
  margin: 0;
  padding: 0;
}

/*.section {*/
/*  padding: 1rem 1.5rem;*/
/*  max-width: 750px;*/
/*  margin: auto;*/
/*}*/

.is-sparta {
  color: #e8344e !important;
}

.button.is-sparta {
  background-color: hsl(141, 71%, 48%);
  border-color: transparent;
  color: #fff !important;
}

.button.is-sparta.is-outlined {
  background-color: transparent;
  border-color: #e8344e;
  color: #e8344e !important;
}

.modal-content {
  width: 600px;
  max-width: 80%;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
